################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Tatar.Api/bin/Debug/netcoreapp2.0
